<h1>Editar Hero  - <%= heroAEditar.nombre %></h1>
<div class="row">
    <div class="col-sm-5">
        <form action="/HeroApi/EditarHero" method="post">
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" placeholder="Ingrese  Nombre del hero" name="nombre" value="<%= heroAEditar.nombre %>"> </div>
            <div class="form-group">
                <label>Castillo</label>
                <input type="text" class="form-control" placeholder="Ingrese el castillo" name="castillo" value="<%= heroAEditar.castillo %>"> </div>
            <div class="form-group">
                <label>nivel</label>
                <input type="integer" class="form-control" placeholder="Ingrese su nivel" name="nivel" value="<%= heroAEditar.nivel %>">
                <input type="hidden" name="id" value="<%= heroAEditar.id %>"> </div>
            <button type="submit" class="btn btn-success btn-block">Editar Hero :)</button>
        </form>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-5 text-center">
        <h2><%= heroAEditar.nombre%></h2>
        <h4><%= heroAEditar.castillo%></h4>
        <p>
            <%= heroAEditar.nivel%>
        </p>
    </div>
</div>