<h1>Lista de Heros</h1>

<div class="row">
    <div class="col-sm-9">
        <p>Aqui se listan todos los heros del sistema.</p>
    </div>
    <div class="col-sm-3">
       <a href="/CrearHero" class="btn btn-block btn-success">
           Crear hero
       </a>
    </div>
</div>
<br>


<% for(var i=0; i<heros.length; i++) {%>

    <div class="row ma-margen-top-bottom">
        <div class="col-sm-1"></div>

        <div class="col-sm-4">

            <div class="text-center ma-borde ma-padding-top-bottom">
                <h1> <%= heros[i].nombre %></h1>
            </div>

        </div>



        <div class="col-sm-1"></div>

        <div class="col-sm-5 text-center">
            <div class="text-center ma-borde" style="margin-top: 40px;">
                <p>
                    <%= heros[i].nombre %>
                        <%= heros[i].castillo %>
                        <%= heros[i].nivel %>
                        
                </p>
                <p>
                    <%= heros[i].id %>
                </p>
            </div>
        </div>

        <div class="col-sm-1">
            <a href="/HeroApi/BorrarHero?id=<%= heros[i].id %>" class="btn btn-danger btn-block">X</a>
            <a href="/EditarHero?id=<%= heros[i].id %>" class="btn btn-info btn-block">Edit</a>
            
        </div>
    </div>

    <% }%>
    
   
  
 






